body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    padding: 5px;
    background-color: rgba(252, 252, 252, 0.981);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: #fff;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 200%;
    height: 215px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0 5px 0;
}

.product-card p {
    margin: 0 0 10px 0;
    color: #555;
    font-weight: bold;
}